In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [108]:
rs = DataFrame({0: range(10, 101, 10), 1: range(10, 20), 2: range(20, 40, 2)})

In [109]:
rs.set_index(2, drop=False, inplace=True)

In [110]:
rs

      0   1   2
2
20   10  10  20
22   20  11  22
24   30  12  24
26   40  13  26
28   50  14  28
30   60  15  30
32   70  16  32
34   80  17  34
36   90  18  36
38  100  19  38

In [112]:
rs.index.get_loc(rs[rs.index <= 31].index[-1])

5

In [73]:
rs.index

Index([20, 22, 24, 26, 28, 30, 32, 34, 36, 38], dtype='int64', name=2)

In [79]:
g = rs[rs.index <= 31].iloc[-1]

In [87]:
rs.index[0]

np.int64(20)

In [114]:
t = list(range(30))
t[25:30]

[25, 26, 27, 28, 29]

In [121]:
t[6: 10]

[6, 7, 8, 9]

In [126]:
p = 0 or None
print(p)

None